{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    
{{else}}   

{{/each}}
<h4>Nova Postagem</h4>

<div class="card">
    <div class="card-body">
        
        <form action="/admin/postagens/nova" method="POST">
            <label for="Titulo">Titulo</label>
            <input type="" name="titulo" class="form-control">

            <label for="Slug">Slug</label>
            <input type="text" name="slug" class="form-control">

            <label for="Descricao">Descrição</label>
            <input type="text" name="descricao" class="form-control">

            <label for="Conteudo">Conteudo</label>
            <textarea name="conteudo" class="form-control"></textarea>

            <label for="categoria">Categoria: </label> 
            <select name="categoria"  class="custom-select">
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                 {{else}}
                    <option value="0">Nenhuma Categoria Registrada</option>
                {{/each}}
            </select><br><br>
            <button class="btn btn-primary btn-sm mt-3" type="submit">Criar Postagem</button>
        </form>

    </div>

</div>