<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<h1>Pagina de Postagens</h1>

{{#each postagens}}
<div class="card mt-4">

    <div class="card-body">

            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            
            <hr>
            <small>Categoria: {{categoria.nome}}</small> <br>
            <small>data: {{data}}</small><br>
            <a href=""><button class="btn btn-info">Leia mais</button></a>
            <hr>
    </div>
    
</div>

{{else}}
<h5>Nenhum postagem por enquanto!</h5>
{{/each}}