<div class="jumbotron">
  <h1 class="display-4">Olá Visitante!</h1>
  <p class="lead">Seja bem vindo! Esse Blog foi desenvolvido com Node.js</p>
  <hr class="my-4">
  <p>Node.js + MongoDB + Bootstrap</p>
  <a class="btn btn-outline-info" href="https://www.linkedin.com/in/murilo-kiyomura-b256bba9/" target="_blank" role="button"> Meu Linkedin :)</a>
  <a class="btn btn-outline-info" href="https://github.com/murilomdk" target="_blank" role="button">GitHub :)</a>
</div>

<h1>Posts</h1>

{{#each postagens}}
<div class="card mt-4">

    <div class="card-body">

            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            
            <hr>
            <small>Categoria: {{categoria.nome}}</small> <br>
            <small>data: {{data}}</small><br>
            <a href="/postagem/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
            <hr>
    </div>
    
</div>

{{else}}
<h5>Nenhum postagem por enquanto!</h5>
{{/each}}